header {
  max-width: 100%;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/img1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: cover;
  filter: grayscale(30%) brightness(70%);
  -webkit-animation: zoom 25s forwards linear;
          animation: zoom 25s forwards linear;
  overflow: hidden;
}
header .header__title {
  opacity: 0;
  transform: scale(0);
  position: relative;
  padding: 14rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 4vw;
  color: #fff;
  text-shadow: 2px 2px 15px #000;
  -webkit-animation: show-text 2s 1s forwards ease-in-out, scale-text 5s 3s infinite linear;
          animation: show-text 2s 1s forwards ease-in-out, scale-text 5s 3s infinite linear;
}
header .header__scrool-icon {
  position: absolute;
  right: 2rem;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  bottom: 3rem;
}
@-webkit-keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@-webkit-keyframes show-text {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes show-text {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes scale-text {
  50% {
    color: lightgreen;
  }
}
@keyframes scale-text {
  50% {
    color: lightgreen;
  }
}

@media (max-width: 992px) {
  header::before {
    background-position: 40% 25%;
  }
  header .header__title {
    font-size: 3.5vw;
    padding: 12rem 0;
  }
}
@media (max-width: 769px) {
  header::before {
    background-position: 40% 25%;
  }
  @-webkit-keyframes zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.3);
    }
  }
  @keyframes zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.3);
    }
  }
}
@media (max-width: 600px) {
  header::before {
    -webkit-animation: none;
            animation: none;
    background-position: 42% 25%;
  }
  header .header__title {
    font-size: 1.3rem;
    padding: 15rem 0;
  }
  header .header__scrool-icon {
    font-size: 2rem;
  }
}
.hero {
  background: #55d6c2;
  width: 100vw;
  height: auto;
  max-width: 100%;
  padding: 2rem 0;
}
.hero__title {
  padding: 2rem 0;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.hero__wish-container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 80%;
  height: auto;
  overflow: hidden;
}
.hero__wish-container::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  left: 0%;
  top: 0%;
  background: #dfb2f4;
  transition: all 1s ease-in-out;
  z-index: 2;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  border-radius: 0 15px 15px 0;
}
.hero__wish-container::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  right: 0%;
  top: 0%;
  background: #f5e960;
  transition: all 1s ease-in-out;
  z-index: 2;
  background-image: linear-gradient(to right, rgba(245, 233, 96, 0.2), rgba(0, 0, 0, 0.4));
  border-radius: 15px 0 0 15px;
}
.hero__wish-container.open::before, .hero__wish-container.open::after {
  width: 0%;
}
.hero__wish-container--btn {
  cursor: pointer;
  position: absolute;
  padding: 10px 15px;
  border-radius: 10px;
  background: #fb6f92;
  box-shadow: 2px 2px 15px #444;
  opacity: 0.8;
  z-index: 3;
  top: 20%;
  left: 50%;
  font-size: 1.3rem;
  font-weight: bold;
  transform: translate(-50%);
  transition: all 0.5s ease-in-out;
}
.hero__wish-container--btn:hover {
  opacity: 1;
  box-shadow: 2px 2px 15px 5px #444;
}
.hero__wish-container--btn.open {
  opacity: 0;
  z-index: -1;
}
.hero__wish-container--img {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  bottom: 0%;
  transition: all 0.5s ease-in-out;
}
.hero__wish-container--img.open {
  opacity: 0;
  z-index: -1;
}
.hero__wish-container--text {
  font-size: 1.5rem;
}
.hero__wish-container--text .text-effect {
  color: red;
  display: inline-block;
  -webkit-animation: effect 3s infinite ease-in-out;
          animation: effect 3s infinite ease-in-out;
}
.hero__wish-container .gifts {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
}
.hero__wish-container .gifts__grandma--title {
  margin: 15px 0;
}
.hero__wish-container .gifts__grandma--img {
  width: 100%;
  height: auto;
  padding: 3px;
  cursor: pointer;
}
.hero__wish-container .gifts__grandma--btn {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 5px 15px;
  margin: 0 0 20px 0;
  border-radius: 10px;
  background: #fb6f92;
  box-shadow: 2px 2px 15px #444;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1;
}
.hero__wish-container .gifts__grandpa--title {
  margin: 15px 0;
}
.hero__wish-container .gifts__grandpa--img {
  width: 100%;
  height: auto;
  padding: 3px;
  cursor: pointer;
}

@-webkit-keyframes effect {
  50% {
    transform: scale(1.1);
  }
}

@keyframes effect {
  50% {
    transform: scale(1.1);
  }
}
@media (max-width: 600px) {
  .hero__title {
    font-size: 1.3em;
  }
  .hero__wish-container {
    width: 90%;
  }
  .hero__wish-container--img {
    top: 10%;
  }
  .hero__wish-container--btn {
    width: 90%;
  }
  .hero__wish-container--text {
    font-size: 1rem;
  }
  .hero__wish-container .gifts {
    flex-direction: column;
    width: 100%;
  }
}
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: #444;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
}
.modal-container.open {
  display: block;
}
.modal-container .modal-img {
  position: absolute;
  width: auto;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}
.modal-container .modal-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 3%;
  z-index: 6;
  font-size: 3.5rem;
  color: tomato;
  cursor: pointer;
}
.modal-container .cursor {
  position: absolute;
  font-size: 3rem;
  color: #fff;
  top: 50%;
  cursor: pointer;
  z-index: 10;
}
.modal-container .next-slide {
  right: 5%;
}
.modal-container .prev-slide {
  left: 5%;
}

@media (max-width: 992px) {
  .modal-container .modal-img {
    width: 95%;
    height: auto;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .modal-container .cursor {
    font-size: 4rem;
  }
}
@media (max-width: 769px) {
  .modal-container .modal-img {
    width: 95%;
    height: auto;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .modal-container .cursor {
    font-size: 4rem;
  }
}
.gallery-container {
  background: #f5e960;
  padding: 20px 0;
}
.gallery-container__title {
  text-align: center;
  font-size: 3rem;
}
.gallery-container .gallery {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  align-items: center;
  justify-items: center;
  width: 100%;
}
.gallery-container .gallery__images {
  width: 50%;
  height: auto;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
  box-shadow: 2px 2px 20px #000;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .gallery-container__title {
    font-size: 2rem;
  }
}
@media (max-width: 769px) {
  .gallery-container .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Kalam", cursive;
  scroll-behavior: smooth;
}

.stopScroll {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */