@import './header', './hero', './config', './modal','./gallery';

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Gloria Hallelujah', cursive;
    scroll-behavior: smooth;
}

.stopScroll{
    overflow: hidden;
}
